<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @article.body %>
</p>

<p>
  <% if @article.image.attached? %>
    <%= image_tag @article.image %>
  <% end %>
</p>

<%= link_to 'Back to Articles', articles_path %>
